
.login-header{background: skyblue none repeat scroll 0 0;float: right;padding: 0;width: 30%;margin-top:10px;margin-bottom:10px;border:1px solid #000;}
.login-header1{background: skyblue none repeat scroll 0 0;float: right;padding: 0;width: 100%;margin-top:10px;margin-bottom:10px;border:1px solid #000;}
.login-header1 ul li{display:inline-block;color:#000;}
.login-header1 ul li a{font-weight:bold;color:#000;}
.login-header1 ul{margin-top:0;margin-bottom:0;}
.pd-0{padding:0;}
.login-header ul li{display:inline-block;color:#000;}
.login-header ul li a{font-weight:bold;color:#000;}
.login-header ul{margin-top:0;margin-bottom:0;}
.general{background:#3C78D8;height:450px;}
.student_register h4{padding:20px;background:#ccc;border-radius:3px 3px 0 0;margin-top:0;}
.student_register h4 a{color:#000;text-decoration:none;}
.student_register{box-shadow:0 3px 4px rgba(0,0,0,0.4);border-radius:3px;}
.student_register1{box-shadow:0 0 4px rgba(0,0,0,0.4);border-radius:3px;padding:27px 20px;}
.student_register1 h4{padding:15px;margin-bottom:25px;background:#ccc;border-radius:3px;margin-top:0;}
.student_register1 h4 a{color:#000;text-decoration:none;}
.activity-log h3{margin-top:0px;}
.activity-log{padding:30px;}
.portion-1{box-shadow:0 3px 4px rgba(0,0,0,0.4);padding:20px;}
.portion-2{box-shadow:0 3px 4px rgba(0,0,0,0.4);padding:20px;}
.activity-log label{font-weight:400;font-size:13px;}
.activity-log .form-horizontal .form-control{border:none;box-shadow:none;}
.activity-log .form-horizontal .form-group{margin-bottom:5px;}
hr{margin-bottom:10px;margin-top:10px;}
.login{box-shadow:0 0px 4px rgba(0,0,0,0.4);padding:20px;margin-top:25px;}
.form-button .btn-default{margin-bottom:5px;}
.shape-game{box-shadow:0 3px 4px rgba(0,0,0,0.4);padding:20px;margin-top:25px;}
.icons .fa{font-size:150px;color:#ccc;}
.color-box1,.color-box2,.color-box3,.color-box4{width:75px;height:75px;border:1px solid #000;display:inline-block;margin:0 25px;}
.color-box1{background:red;}
.color-box2{background:blue;}
.color-box3{background:green;}
.color-box4{background:yellow;}
.color-overlay{width:50%;margin:0 auto;padding:20px;text-align:center;margin-top:20px;}
.answer{text-align:center;}
.answer table th{text-align:center;}


